.benefits__wrapper{
  margin-left: 20px;
  margin-top: -13px;
}
.benefits__title{
  display: block;
  width: 225px;
  min-height: 38px;
  .font-style(36px; 60px; left; @black);
}
.benefits__list{
  list-style: none;
  position: relative;
}
.benefits__item{
  display: block;
  width: 270px;
  margin-left: 40px;
  margin-bottom: 26px;
  margin-top: 1px;
}
.benefits__description{
  font-family: @arial-font;
  width: 194px;
  min-height: 48px;
  .font-style(14px; 18px; left; @greyish-brown);
}
.benefits__item--image-leaf::before{
  .absolute-style(url(../img/green-back.png); absolute; 60px; 60px; -2px; 0);
}
.benefits__item--image-leaf::after{
  .absolute-style(url(..img/advantage-leaf@1x.png); absolute; 26px; 29px; 3px; 5px);
}
.benefits__item--image-powder::before{
  .absolute-style(url(../img/green-back.png); absolute; 60px; 60px; 78px; 0);
}
.benefits__item--image-powder::after{
  .absolute-style(url(../img/advantage-powder@1x.png); absolute; 29px; 31px; 82px; 5px);
}
.benefits__item--image-fork::before{
  .absolute-style(url(../img/green-back.png); absolute; 60px; 60px; 158px; 0);
}
.benefits__item--image-fork::after{
  .absolute-style(url(../img/advantage-dining@1x.png); absolute; 23px; 30px; 163px; 4px);
}
.benefits__item--image-scale::before{
  .absolute-style(url(../img/green-back.png); absolute; 60px; 60px; 238px; 0);
}
.benefits__item--image-scale::after{
  .absolute-style(url(../img/advantage-clock@1x.png); absolute; 26px; 31px; 243px; 5px);
}
