.button-to-all{
  display: block;
  width: 319px;
  min-height: 208px;
  border: 1px solid @grey;
}
.button-to-all__title{
  display: block;
  width: 214px;
  min-height: 17px;
  font-weight: 400;
  .font-style(16px; 20px; center; @black);
  margin-left: 55px;
  margin-top: 79px;
  text-transform: uppercase;
}
.button-to-all__plus{
  margin-top: -88px;
  margin-left: 147px;
  margin-bottom: 48px;
}
.button-to-all__text{
  display: block;
  width: 221px;
  min-height: 12px;
  font-family: @arial-font;
  .font-style(12px; 16px; center; @greyish-brown);
  margin-left: 51px;
}
.button-to-all__button{
  display: block;
  width: 280px;
  min-height: 30px;
  background-color: @white-two;
  .font-style(16px; 20px; center; @greyish-brown);
  font-weight: 400px;
  text-transform: uppercase;
  margin-left: 22px;
  padding-top: 10px;
  margin-top: 21px;
  margin-bottom: 25px;
}
