.button-to-all{
  display: block;
  width: 318px;
  border: 1px solid @grey;
  margin: 0 auto;
}
.button-to-all__wrapper{
  width: 282px;
  padding-left: 19px;
  padding-right: 19px;
}
.button-to-all__plus{
  position: absolute;
  width: 30px;
  height: 30px;
}
.button-to-all__plus::before,
.button-to-all__plus::after{
  content: '';
  left: 125px;
  top: 40px;
  width: 30px;
  height: 2px;
  background-color: @grey3;
  position: absolute;
}
.button-to-all__plus::before{
  transform: rotate(90deg);
}
.button-to-all__title{
  display: block;
  width: 204px;
  font-weight: 400;
  .font-style(16px; 20px; center; @black);
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 80px;
  margin: 0 auto;
  text-transform: uppercase;
}
.button-to-all__text{
  display: block;
  width: 221px;
  font-family: @arial-font;
  .font-style(12px; 16px; center; @greyish-brown);
  padding-left: 28px;
  padding-right: 31px;
  padding-top: 7px;
  margin: 0 auto;
}
.button-to-all__button{
  display: block;
  width: 91px;
  background-color: @white-two;
  .font-style(16px; 20px; center; @greyish-brown);
  font-weight: 400px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-left: 95px;
  padding-right: 94px;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 24px;
  padding-bottom: 9px;
}
@media (min-width: @tablet-width){
  .button-to-all{
    width: 322px;
    float: right;
    margin-top: -433px;
    margin-right: 30px;
    padding-bottom: 39px;
  }
  .button-to-all__wrapper{
    width: 249px;
    padding-left: 38px;
    padding-right: 37px;
  }
  .button-to-all__plus{
    width: 61px;
    height: 61px;
}
  .button-to-all__plus::before,
  .button-to-all__plus::after{
    left: 94px;
    top: 83px;
    width: 61px;
    height: 2px;
  }
  .button-to-all__title{
    width: 134px;
    margin: 0 auto;
    .font-style(20px; 20px; center; @black);
    padding-top: 163px;
    padding-left: 57px;
    padding-right: 58px;
  }
  .button-to-all__text{
    width: 167px;
    .font-style(16px; 20px; center; @black);
    padding-top: 24px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 42px;
  }
  .button-to-all__button{
    width: 91px;
    margin: 0 auto;
    margin-top: 83px;
    padding-left: 79px;
    padding-right: 79px;
  }
}
@media (min-width: @desktop-width){
  .button-to-all{
    width: 245px;
    float: right;
    margin-top: -433px;
    margin-right: 30px;
  }
  .button-to-all__plus{
    width: 61px;
    height: 61px;
}
  .button-to-all__plus::before,
  .button-to-all__plus::after{
    left: 131px;
    top: 83px;
    width: 61px;
    height: 2px;
  }
  .button-to-all__title{
    width: 134px;
    .font-style(20px; 20px; center; @black);
    padding-top: 84px;
    padding-left: 56px;
  }
  .button-to-all__text{
    width: 167px;
    .font-style(16px; 20px; center; @black);
    padding-top: 13px;
    padding-left: 40px;
  }
  .button-to-all__button{
    width: 89px;
    margin-top: 38px;
    margin-left: 38px;
    padding-left: 80px;
    padding-right: 78px;
  }
}
