.catalog{
  width: 320px;
  margin: 0 auto;
}
.catalog__wrapper{
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}
.catalog__item{
  display: block;
  width: 279px;
  padding-bottom: 24px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid @grey;
  border-right: 1px solid @grey;
  border-left: 1px solid @grey;
  margin-left: -20px;
}
.catalog__value{
  display: block;
  width: 74px;
  padding-left: 140px;
  padding-right: 66px;
  padding-top: 19px;
  margin: 0 auto;
}
.catalog__value a{
  font-weight: 400;
  .font-style(16px; 20px; left; @black);
  text-decoration: none;
  text-transform: uppercase;
}
.catalog__pic{
  display: block;
  width: 140px;
  margin-top: -62px;
}
.catalog__list{
  display: block;
  width: 141px;
  margin-left: 140px;
  margin-top: -73px;
  font-family: @arial-font;
}
.catalog__field-one{
  display: flex;
  flex-directions: column;
  width: 38px;
  .font-style(12px; 16px; left; @greyish-brown);
  margin-bottom: -16px;
}
.catalog__field-two{
  display: flex;
  flex-directions: column;
  width: 40px;
  .font-style(12px; 16px; right; @greyish-brown);
  padding-left: 69px;
}
.catalog__button{
  display: block;
  width: 278px;
  background-color: @leaf;
  .font-style(16px; 20px; center; @white);
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 2px;
  padding-bottom: 10px;
  margin-top: 22px;
}
@media (min-width: @tablet-width){
  .catalog{
    width: @tablet-width;
  }
  .catalog__wrapper{
    width: 708px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .catalog__item{
    width: 324px;
    border: none;
    background-color: @white-two;
    margin-top: 137px;
    margin-left: 0px;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 3px;
  }
  .catalog__pic{
    margin-left: 95px;
    margin-top: -300px;
  }
  .catalog__value{
    display: block;
    width: 130px;
    padding-top: 163px;
    padding-left: 98px;
    padding-right: 96px;
    padding-bottom: 19px;
    text-align: center;
  }
  .catalog__value a{
    width: 128px;
    font-weight: 400;
    .font-style(20px; 20px; center; @black);
    text-decoration: none;
    text-transform: uppercase;
  }
  .catalog__list{
    width: 249px;
    padding-top: 226px;
    margin-left: 38px;
    margin-right: 37px;
  }
  .catalog__field-one{
    width: 50px;
    .font-style(16px; 16px; left; @greyish-brown);
    border-bottom: 1px solid @light-grey;
    padding-bottom: 7px;
    padding-right: 199px;
    padding-top: 8px;
  }
  .catalog__field-two{
    width: 60px;
    .font-style(16px; 16px; right; @greyish-brown);
    border-bottom: 1px solid @light-grey;
    padding-left: 150px;
    padding-bottom: 6px;
    padding-top: 7px;
    margin-top: -30px;
  }
  .catalog__button{
    width: 61px;
    margin-left: 38px;
    padding-left: 95px;
    padding-right: 93px;
    margin-top: 33px;
  }
}
@media (min-width: @desktop-width){
  .catalog{
    width: @desktop-width;
  }
  .catalog__wrapper{
    width: 1220px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .catalog__item{
    width: 245px;
    padding: 0;
    border: none;
    background-color: @white-two;
    margin-top: 137px;
    padding-bottom: 40px;
    margin-bottom: 6px;
  }
  .catalog__pic{
    margin-left: 55px;
    margin-top: -300px;
  }
  .catalog__value{
    display: block;
    width: 131px;
    padding-top: 164px;
    padding-left: 58px;
    padding-right: 56px;
  }
  .catalog__value a{
    width: 128px;
    font-weight: 400;
    .font-style(20px; 20px; center; @black);
    text-decoration: none;
    text-transform: uppercase;
  }
  .catalog__list{
    width: 168px;
    padding-top: 226px;
    padding-left: 38px;
    padding-right: 39px;
    margin-left: 0;
  }
  .catalog__field-one{
    width: 50px;
    .font-style(16px; 16px; left; @greyish-brown);
    border-bottom: 1px solid @light-grey;
    padding-bottom: 7px;
    padding-top: 8px;
    padding-right: 0;
  }
  .catalog__field-two{
    width: 55px;
    .font-style(16px; 16px; right; @greyish-brown);
    border-bottom: 1px solid @light-grey;
    padding-left: 75px;
    padding-bottom: 6px;
    padding-top: 7px;
    margin-top: -30px;
  }
  .catalog__button{
    width: 61px;
    margin-left: 38px;
    margin-top: 32px;
    padding-left: 55px;
    padding-right: 53px;
  }
}
