.contacts{
  display: block;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid @grey;
}
.contacts__logo{
  display: block;
  margin-bottom: 28px;
  margin-left: 76px;
  padding-top: 39px;
  margin-top: -3px;
}
