.example{
  min-width: 320px;
  margin: 0 auto;
  background-color: @white-two;
  background-size: cover;
}
.example__wrapper{
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 46px;
  margin: 0 auto;
}
.example__title{
  display: block;
  width: 195px;
  margin: 0 auto;
  .font-style(36px; 60px; left; @black);
  font-weight: 400;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 85px;
}
.example__content{
  display: block;
  width: 266px;
  font-family: @arial-font;
  .font-style(14px; 18px; left; @greyish-brown);
  margin: 0 auto;
  padding-left: 0;
  padding-right: 14px;
  padding-top: 24px;
}
.example__numbers{
  display: flex;
  flex-wrap: wrap;
}
.example__list{
  display: block;
  width: 124px;
  text-align: center;
  background-image: url("../img/weight-back.png");
  background-repeat: no-repeat;
  background-size: 124px 56px;
  margin-top: 25px;
  margin: 0 auto;
}
.example__value{
  font-size: 24px;
  line-height: 24px;
  color: @black;
  padding-top: 14px;
  text-transform: uppercase;
  padding-bottom: 9px;

}
.example__text{
  display: block;
  width: 82px;
  font-family: @arial-font;
  .font-style(12px; 12px; center; @greyish-brown);
  text-transform: lowercase;
  margin-left: 19px;
  background-image: url("../img/grey-back.png");
  background-repeat: no-repeat;
  background-size: 87px 21px;
}
.example__list--days{
  margin-left: 31px;
}
.example__text-days{
  margin-left: 21px;
}
.example__cost{
  width: 190px;
  display: flex;
  padding-left: 46px;
}
.example__spending,
.example__spending-price{
  .font-style(14px; 20px; center; @black);
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 0px;
  margin: 0 auto;
}
.example__spending-price{
  padding-left: 4px;
  padding-top: 5px;
  margin: 0 auto;
}
.example__cat-image{
  padding-top: 25px;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: @tablet-width){
.example{
  min-width: @tablet-width;
  margin: 0 auto;
  background-color: @white;
}
.example__wrapper{
  min-width: 708px;
  padding-left: 30px;
  padding-right: 30px;
  margin:0 auto;
}
.example__title{
  width: 326px;
  .font-style(60px; 60px; left; @black);
  padding-left: 0;
  padding-right: 382px;
  padding-top: 44px;
}
.example__content{
  width: 676px;
  padding-right: 32px;
  .font-style(16px; 24px; left; @greyish-brown);
  padding-top: 64px;
}
.example__numbers{
  padding-bottom: 265px;
}
.example__list{
  display: block;
  width: 162px;
  background-size: 162px 72px;
  margin-top: 53px;
}
.example__value{
  .font-style(30px; 37px; center; @black);
  padding-top: 15px;
}
.example__text{
  width: 97px;
  margin-left: 22px;
  background-image: none;
  background-color: @white;
  .font-style(14px; 14px; center; @greyish-brown);
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
.example__list--days{
  margin-left: 41px;
}
.example__text-days{
  width: 127px;
  margin-left: 8px;
  padding-top: 2px;
}
.example__cost{
  width: 324px;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  display: block;
}
.example__spending{
  width: 174px;
  .font-style(20px; 29px; right; @black);
  padding-top: 60px;
  margin-left: 149px;
}
.example__spending-price{
  .font-style(20px; 29px; right; @black);
  padding-top: 0;
}
.example__image{
   min-width: 768px;
   margin: 0 auto;
   background-color: @grey5;
   background-size: cover;
   margin-left: -30px;
   margin-right: -30px;
}
.example__cat-image{
  margin-top: -215px;
  width: 636px;
  padding-left: 45px;
}
}
@media (min-width: @desktop-width){
.example{
  min-width: @desktop-width;
  margin: 0 auto;
  background-color: @white;
}
.example__wrapper{
  width: 1220px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
  margin:0 auto;
}
.example__title{
  margin-left: -40px;
  padding-left: 40px;
  margin-right: -40px;
  padding-right: 1004px;
  padding-top: 24px;
  background-color: @white;
  padding-bottom: 74px;
}
.example__content{
  width: 431px;
  padding-left: 0;
  padding-right: 139px;
  padding-top: 72px;
  margin: 0;
}
.example__numbers{
  width: 366px;
  padding-bottom: 0px;
}
.example__list{
  margin-top: 67px;
}
.example__cost{
  width: 325px;
  display: flex;
  padding: 0;
}
.example__spending{
  width: 177px;
  padding-top: 37px;
  margin: 0;
  margin-left: -4px;
}
.example__spending-price{
  width: 90px;
  padding-top: 37px;
  padding-left: 62px;
}
.example__image{
   width: 650px;
   margin-top: -390px;
   float: right;
   background: none;
}
.example__cat-image{
  margin-top: -215px;
  width: 610px;
  padding-left: 0px;
}
.example__button-wrapper{
  padding-top: 93px;
  padding-bottom: 74px;
}
.example__button{
  padding-left: 48px;
  text-decoration: underline;
  text-decoration-color: @grey6;
  text-decoration-style: dotted;
  background-color: @white-two;
}
.example__button--before::before{
  margin-left: 49px;
}
.example__button--before::after{
  .absolute-style(''; absolute; 32px; 32px; -5px; 213px);
}
.example__button--after::before{
  .absolute-style(''; absolute; 8px; 8px; 8px; -190px);
}
.example__button--after{
  margin-right: 82px;
  background: none;
}
}
