.main-nav__list{
  list-style: none;
}
.main-nav__wrapper{
  margin: 0;
  padding: 0;
}
@media (min-width: @tablet-width){
  .main-nav__wrapper{
  width: 438px;
  padding-left: 77px;
  padding-right: 31px;
  }
}
@media (min-width: @desktop-width){
  .main-nav__wrapper{
  width: 478px;
  padding-left: 521px;
  padding-right: 110px;
  padding-top: 30px;
  }
}
