.main-nav__list{
  list-style: none;
}
.main-nav__wrapper{
  min-height: 195px;
  margin: 0;
  padding: 0;
}
@media (min-width: @tablet-width){
  .main-nav__wrapper{
  width: 438px;
  min-height: 59px;
  margin-left: 95px;
  }
}
@media (min-width: @desktop-width){
  .main-nav__wrapper{
  width: 478px;
  min-height: 60px;
  margin-right: 110px;
  }
}
