.main-nav{
  width: 320px;
  margin: 0 auto;
  position: relative;
}
.main-nav__toggle {
  position: absolute;
  top: -41px;
  right: 40px;
  z-index: 2;

  display: block;
  width: 25px;
  height: 19px;

  background-color: @white;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
  }
}
.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 25px;
  height: 2px;

  background-color: @black-two;
  box-shadow: 0 8px 0 0 @black-two, 0 16px 0 0 @black-two;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: -34px;
    left: 256px;

    width: 24px;
    height: 2px;

    background-color: @black-three;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
  }
}
.main-nav__list{
  list-style: none;
}
.main-nav--closed .site-list__item {
    display: none;
}
.main-nav--nojs .main-nav__toggle {
    display: none;
}
.main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
}
@media (min-width: @tablet-width){
.main-nav{
  width: 518px;
}
.main-nav--closed .site-list__item {
    display: block;
}
.main-nav--nojs .main-nav__toggle {
    display: block;
}
}
@media (min-width: @desktop-width){
   .main-nav{
    width: 611px;
    margin: 0 auto;
    padding-left: 365px;
  }
}
