.map{
  min-width: 320px;
  margin: 0 auto;
}
.map__catalog-wrapper,
.map__form-wrapper{
  min-width: 320px;
  background-color: @white-two;
  background-size: cover;
  margin: 0 auto;
  margin-top: 34px;
}
.map__form-wrapper{
  margin-top: 32px;
}
.map__align{
  display: flex;
  padding-left: 18px;
  padding-top: 15px;
  padding-bottom: 11px;
}
.map__catalog-align{
  display: flex;
  padding-left: 19px;
  padding-top: 16px;
  margin-bottom: 11px;
}
.map__form-align{
  display: flex;
  width: 290px;
  padding-left: 19px;
  padding-right: 11px;
  margin-bottom: 11px;
}
.map__title{
  width: 124px;
  font-family: @font-family;
  .font-style(16px; 20px; left; @black);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 13px;
}
.map__form-title{
  padding-top: 16px;
}
.map__business-address{
  font-family: @arial-font;
  color: @greyish-brown;
  font-size: 14px;
  line-height: 20px;
  padding-left: 0px;
}
.map__address{
  width: 135px;
  padding-left: 19px;
  .font-style(14px; 20px; left; @greyish-brown);
  font-family: @arial-font;
  margin-top: 13px;
}
.map__form-address{
  padding-left: 0px;
  padding-top: 15px;
}
.map__address-city{
  margin-top: -14px;
  padding-left: 18px;
}
.map__form-address-city{
  padding-left: 32px;
  margin: -14px;
}
.map__iframe{
  min-width: 320px;
  min-height: 400px;
  border: none;
}
@media (min-width: @tablet-width){
.map{
  min-width: @tablet-width;
  margin: 0 auto;
}
.map__form{
  min-width: @tablet-width;
  margin: 0 auto;
}
.map__form-wrapper{
  min-width: @tablet-width;
  background-color: @white-two;
  background-size: cover;
  margin-top: 35px;
}
.map__form-align{
  width: 768px;
  padding: 0;
}
.map__catalog-wrapper{
  display: block;
  min-width: @tablet-width;
  background-color: @white-two;
  background-size: cover;
  margin: 0 auto;
  margin-top: 75px;
}
.map__catalog-align{
  display: flex;
  justify-content: space-between;
  padding-left: 52px;
  padding-top: 49px;
  padding-bottom: 28px;
}
.map__align{
  display: flex;
  justify-content: space-between;
  padding-left: 69px;
  padding-top: 78px;
  padding-bottom: 40px;
}
.map__title{
  width: 154px;
  .font-style(20px; 25px; left; @black);
  padding-top: 5px;
}
.map__form-title{
  padding-left: 73px;
  padding-top: 52px;
  padding-right: 237px;
}
.map__business-address{
  font-size: 16px;
  padding-left: 0px;
  text-align: right;
  margin-right: 74px;
}
.map__form-address{
  padding-left: 60px;
  padding-top: 49px;
  margin-right: 0;
}
.map__catalog-align
.map__business-address{
  margin-top: -1px;
  margin-right: 73px;
}
.map__form-business-address{
  .font-style(16px; 20px; right; @greyish-brown);
  padding-top: 20px;
}
.map__address{
  width: 155px;
  font-size: 16px;
  text-align: right;
  padding-top: 2px;
}
.map__address-city{
  margin-top: 20px;
}
.map__form-address-city{
  padding-top: 18px;
  margin-right: 1px;
}
.map__iframe{
  min-width: 767px;
  min-height: 426px;
}
}
@media (min-width: @desktop-width){
.map{
  min-width: @desktop-width;
  margin: 0 auto;
}
.map__catalog-wrapper,
.map__form-wrapper{
  display: block;
  min-width: 1300px;
  background-color: @white-two;
  background-size: cover;
  margin-top: 35px;
}
.map__title{
  z-index: 1;
  background-color: @white;
  margin-left: 40px;
  padding-left: 77px;
  padding-top: 65px;
  padding-bottom: 60px;
}
.map__form-title{
  width: 155px;
  padding-left: 75px;
  padding-top: 67px;
  padding-right: 0px;
  margin-left: 110px;
  margin-top: 14px;
}
.map__business-address{
  z-index: 1;
  background-color: @white;
}
.map__align{
  display: flex;
  justify-content: flex-start;
  padding-left: 69px;
  padding-top: 78px;
  padding-bottom: 40px;
}
.map__form-align{
  width: 680px;
  padding: 0;
  margin-top: -10px;
}
.map__business-address{
  margin-top: 17px;
  padding-right: 90px;
  margin-bottom: 17px;
}
.map__address{
  width: 155px;
  padding-top: 48px;
  padding-left: 78px;
  text-align: left;
}
.map__form-address{
  padding: 0;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 17px;
  padding-right: 90px;
}
.map__address-city{
  margin-top: 19px;
  padding-right: 31px;
}
.map__iframe{
  min-width: 1440px;
  min-height: 400px;
  margin-top: -355px;
}
.map__form-business-address{
  padding-top: 51px;
  padding-left: 95px;
}
.map__form-address-city{
  padding-top: 18px;
  margin-right: 29px;
}
}
