.nutrition__header{
  display: block;
  width: 249px;
  .font-style(36px; 36px; center; @white);
  font-weight: 400;
  padding-left: 36px;
  padding-top: 27px;
}
.nutrition__slogan{
  display: block;
  width: 198px;
  .font-style(14px; 14px; center; @white);
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 60px;
  margin-top: -5px;
}
.nutrition__program-button{
  display: block;
  width: 208px;
  color: @white;
  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 3px;
  padding-top: 11px;
  padding-left: 72px;
  padding-bottom: 11px;
}
.nutrition__can-image{
  display: block;
  width: 280px;
  margin-top: 29px;
  margin-left: 20px;
}
@media (min-width: @tablet-width){
  .nutrition__header{
  width: 414px;
  .font-style(60px; 60px; left; @black);
  padding-left: 117px;
  padding-top: 15px;
  }
  .nutrition__slogan{
  width: 283px;
  .font-style(20px; 20px; left; @black);
  padding-left: 118px;
  margin-top: -8px;
  }
  .nutrition__can-image{
  display: block;
  width: 709px;
  }
  .nutrition__program-button{
   width: 219px;
   .font-style(20px; 20px; left; @white);
   padding-left: 25px;
   margin-left: 119px;
   margin-top: 48px;
   padding-top: 15px;
   padding-bottom: 17px;
  }
}
@media (min-width: @desktop-width){
  .nutrition{
    width: 1300px;
    display: flex;
  }
  .nutrition__header{
    padding-left: 191px;
    padding-top: 66px;
  }
  .nutrition__can-image{
    width: 552px;
    position: relative;
  }
  .nutrition__slogan{
    padding-left: 190px;
  }
}
