.page-catalog{
  width: 320px;
  margin: 0 auto;
}
.page-catalog__header{
  display: block;
  width: 254px;
  font-weight: 400;
  .font-style(36px; 60px; left; @black);
  padding-left: 20px;
  padding-right: 46px;
  padding-bottom: 28px;
  padding-top: 15px;
  white-space : nowrap;
}
@media (min-width: @tablet-width){
  .page-catalog{
    min-width: @tablet-width;
  }
  .page-catalog__header{
    width: 423px;
    .font-style(60px; 60px; left; @black);
    padding-top: 49px;
    padding-left: 30px;
    padding-right: 315px;
  }
}
@media (min-width: @desktop-width){
  .page-catalog{
    min-width: @desktop-width;
  }
  .page-catalog__header{
    padding-left: 110px;
    padding-top: 66px;
    padding-right: 907px;
  }
}
