.page-header{
  width: 320px;
}
.page-header__logo{
  width: 191px;
  padding-top: 11px;
}
.page-header__wrapper{
  display: flex;
  width: 280px;
  margin: 0 auto;
}
.page-header__toggle{
  width: 25px;
  background-color: @white;
  border: none;
  padding-left: 65px;
  padding-top: 23px;
}
@media (min-width: @tablet-width){
  .page-header{
   display: flex;
   min-width: @tablet-width;
  }
  .page-header__wrapper {
    width: 174px;
    margin: 0 auto;
    padding-top: 24px;
  }
}
@media (min-width: @desktop-width){
  .page-header{
   display: flex;
   min-width: @desktop-width;
  }
  .page-header__wrapper {
    width: 719px;
    margin: 0 auto;
    padding-left: 109px;
    padding-top: 53px;
  }
  .page-header__logo{
    width: 203px;
  }
}
