.page-main{
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-color: @white;
  margin-top: -29px;
  top: 0;
  left: 0;
}
@media (min-width: @tablet-width){
  .page-main{
    width: 709px;
    background-color: @white;
    background-image: none;
  }
}
@media (min-width: @desktop-width){
  .page-main{
    width: @desktop-width;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 696px;
    background-color: @white;
    background-position: 720px -105px;
  }
}
