.social{
  display: block;
  min-width: 280px;
  border-bottom: 1px solid @grey;
}
.social__list{
  width: 125px;
  padding-left: 74px;
  padding-right: 81px;
  display: flex;
  list-style: none;
  margin: 0 auto;
}
.social__item{
  position: relative;
  padding-right: 37px;
  padding-bottom: 62px;
}
.social__link--vkontakte{
  .absolute-style(url(../img/icon-vk.svg); absolute; 22px; 12px; 25px; 0px);

    &:hover{
      content: url(../img/vk-green-copy.png);
       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url(../img/vk-green-copy@2x.png);
   }
    }
    &:active{
      content: url(../img/vk-green-copy.png);
      opacity: 0.3;
       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url(../img/vk-green-copy@2x.png);
   }
    }
  }
.social__link--instagram{
  .absolute-style(url(../img/icon-insta.svg); absolute; 16px; 16px; 24px; 22px);
  &:hover{
      content: url(../img/insta-green-copy.png);
       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url(../img/insta-green-copy@2x.png);
   }
    }
    &:active{
      content: url(../img/insta-green-copy.png);
      opacity: 0.3;
       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url(../img/insta-green-copy@2x.png);
   }
    }
}
.social__link--facebook{
  .absolute-style(url(../img/icon-fb.svg); absolute; 10px; 19px; 22px; 41px);
  &:hover{
      content: url(../img/fb-green-copy.png);
       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url(../img/fb-green-copy@2x.png);
   }
    }
    &:active{
      content: url(../img/fb-green-copy.png);
      opacity: 0.3;
       @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url(../img/fb-green-copy@2x.png);
   }
    }
}
.social__link--vkontakte svg,
.social__link--instagram svg,
.social__link--facebook svg{
  fill: @brownish-grey;
}
.social__link--vkontakte:hover svg,
.social__link--instagram:hover svg,
.social__link--facebook:hover svg{
  fill: @leaf;
}
.social__link--vkontakte:active svg,
.social__link--instagram:active svg,
.social__link--facebook:active svg{
  fill: @leaf;
  opacity: 0.3;
}

.social__catalog .social__list{
  padding-left: 72px;
  margin-top: -1px;
}
@media (min-width: @tablet-width){
  .social{
   width: 324px;
   padding: 0;
  }
  .social__item{
   padding: 0;
   position: relative;
  }
  .social__list{
   width: 124px;
   margin-top: -28px;
   padding-left: 92px;
   padding-right: 118px;
  }
  .social__link--vkontakte{
    .absolute-style(url(../img/icon-vk.svg); absolute; 30px; 16px; 66px; 0px);
  }
  .social__link--instagram{
    .absolute-style(url(../img/icon-insta.svg); absolute; 23px; 23px; 63px; 58px);
  }
  .social__link--facebook{
    .absolute-style(url(../img/icon-fb.svg); absolute; 14px; 28px; 60px; 110px);
  }
  .social__catalog .social__list{
    margin-top: -28px;
    margin-left: 20px;
  }
}
@media (min-width: @desktop-width){
  .social{
   width: 570px;
  }
  .social__list{
   padding-left: 218px;
   padding-right: 298px;
   margin: 0;
  }
  .social__catalog{
    padding-top: 27px;
    padding-left: 127px;
  }
  .social__link--vkontakte{
    .absolute-style(url(../img/icon-vk.svg); absolute; 30px; 16px; 65px; 67px);
    padding-top: 3px;
  }
  .social__link--instagram{
    .absolute-style(url(../img/icon-insta.svg); absolute; 23px; 23px; 62px; 125px);
    padding-top: 3px;
  }
  .social__link--facebook{
    .absolute-style(url(../img/icon-fb.svg); absolute; 14px; 28px; 59px; 177px);
    padding-top: 3px;
  }
}
