.social{
  display: block;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  border-bottom: 1px solid @grey;
}
.social__list{
  display: flex;
  list-style: none;
}
.social__item{
  position: relative;
  padding-right: 37px;
}
.social__link--vkontakte{
    .absolute-style(url(../img/m-vk.png); absolute; 22px; 12px; 12px; 33px);
  }
  .social__link--instagram{
    .absolute-style(url(../img/m-insta.png); absolute; 17px; 17px; 10px; 54px);
  }
  .social__link--facebook{
    .absolute-style(url(../img/m-fb.png); absolute; 10px; 19px; 7px; 74px);
  }

@media (min-width: @tablet-width){
  .social{
   width: 324px;
   padding: 0;
  }
  .social__item{
   padding: 0;
   position: relative;
  }
  .social__list{
   width: 124px;
   padding: 0;
  }
  .social__link--vkontakte{
    .absolute-style(url(../img/vk.png); absolute; 30px; 16px; 52px; 85px);
  }
  .social__link--instagram{
    .absolute-style(url(../img/insta.png); absolute; 23px; 23px; 49px; 143px);
  }
  .social__link--facebook{
    .absolute-style(url(../img/fb.png); absolute; 14px; 28px; 46px; 195px);
  }
}
@media (min-width: @desktop-width){
  .social{
   padding-left: 5px;
  }
}
