.social{
  display: block;
  width: 280px;
  border-bottom: 1px solid @grey;
}
.social__list{
  width: 125px;
  padding-left: 74px;
  padding-right: 81px;
  display: flex;
  list-style: none;
  margin: 0 auto;
}
.social__item{
  position: relative;
  padding-right: 37px;
  padding-bottom: 62px;
}
.social__link--vkontakte{
    .absolute-style(url(../img/icon-vk.svg); absolute; 22px; 12px; 26px; 0px);
  }
  .social__link--instagram{
    .absolute-style(url(../img/icon-insta.svg); absolute; 16px; 16px; 24px; 22px);
  }
  .social__link--facebook{
    .absolute-style(url(../img/icon-fb.svg); absolute; 10px; 19px; 22px; 41px);
  }

@media (min-width: @tablet-width){
  .social{
   width: 324px;
   padding: 0;
  }
  .social__item{
   padding: 0;
   position: relative;
  }
  .social__list{
   width: 124px;
   padding-left: 92px;
   padding-right: 118px;
  }
  .social__link--vkontakte{
    .absolute-style(url(../img/icon-vk.svg); absolute; 30px; 16px; 66px; 0px);
  }
  .social__link--instagram{
    .absolute-style(url(../img/icon-insta.svg); absolute; 23px; 23px; 63px; 58px);
  }
  .social__link--facebook{
    .absolute-style(url(../img/icon-fb.svg); absolute; 14px; 28px; 60px; 110px);
  }
}
@media (min-width: @desktop-width){
  .social{
   width: 570px;
  }
  .social__list{
   padding-left: 148px;
   padding-right: 298px;
  }
  .social__link--vkontakte{
    .absolute-style(url(../img/icon-vk.svg); absolute; 30px; 16px; 65px; 67px);
  }
  .social__link--instagram{
    .absolute-style(url(../img/icon-insta.svg); absolute; 23px; 23px; 62px; 125px);
  }
  .social__link--facebook{
    .absolute-style(url(../img/icon-fb.svg); absolute; 14px; 28px; 59px; 177px);
  }
}
