@white: #ffffff;
@black: #111111;
@greyish-brown: #444444;
@white-two: #f2f2f2;
@grey: #ededed;
@light-grey: #cdcdcd;
@leaf: #68b738;
@black-two: #222222;
@brownish-grey: #666666;
@font-family: "Oswald", "Arial", sans-serif;
@arial-font: "Arial", "PT Sans", sans-serif;
@tablet-width: 768px;
@desktop-width: 1300px;
