.map--align{
  display: flex;
  margin-left: 19px;
  margin-top: 16px;
  margin-bottom: 11px;
}
.map__title{
  width: 124px;
  min-height: 57px;
  font-weight: 400;
  font-family: "Oswald-regular", "Arial", sans-serif;
  .font-style(16px; 20px; left; @black);
  text-transform: uppercase;
}
.map__address{
  width: 135px;
  min-height: 53px;
  margin-left: 17px;
  margin-top: 12px;
  font-family: "Arial", "PT Sans", sans-serif;
  color: @greyish-brown;
  font-size: 14px;
  line-height: 20px;
}
.map__iframe{
  border: none;
}
